<app-bienvenida></app-bienvenida>

<label for="nombre">Nombre: </label>
<input type="text" name="nombre" id="" placeholder="Introduzca Nombre" #nombre="ngModel" [(ngModel)]="altausu.nombre" required>
<div *ngIf="nombre.errors.required">
    El nombre es obligatorio
  </div>

<label for="apellidos">Apellidos: </label>
<input type="text" name="apellidos" id="" placeholder="Introduzca Apellidos" #apellidos="ngModel" [(ngModel)]="altausu.apellidos" required>
<div *ngIf="apellidos.errors.required">
    Los apellidos son obligatorios
  </div>

<label for="direccion">Dirección: </label>
<input type="text" name="direccion" id="" placeholder="Introduzca la dirección" [(ngModel)]="altausu.usuario" #direccion="ngModel" required  >
<div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
    <div *ngIf="usuario.errors.required">
      El nombre de usuario es obligatorio
    </div>
    <div *ngIf="usuario.errors.appNombreusuario">
      {{usuario.errors.appNombreusuario.message}}
    </div>
</div>
<label for="localidad">Localidad: </label>
<input type="text" name="localidad" id="" placeholder="Introduzca localidad" #localidad="ngModel" [(ngModel)]="altausu.apellidos" required>
<div *ngIf="apellidos.errors.required">
    Los apellidos son obligatorios
  </div>

<label for="email">Correo electronico: </label>
<input type="email" name="email" id="" placeholder="Introduzca correo electronico" #email="ngModel" [(ngModel)]="pass" required appPassword [ngModelOptions]="{updateOn: 'change'}">
<div *ngIf="password.invalid && (password.dirty || password.touched)">
    <div *ngIf="password.errors.required">
      el nombre de usuario es obligatorio
    </div>
    <div *ngIf="password.errors.appPassword">
      {{password.errors.appPassword.message}}
    </div>
</div>
<label for="telefono">telefono: </label>
<input type="text" name="telefono" id="" placeholder="Introduzca Telefono" #telefono="ngModel" [(ngModel)]="altausu.telefono" required >
<div *ngIf="telefono.errors.required">
    El telefono es obligatorio
  </div>

<button (click)="Venta()">Realizar venta</button>
